<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Tests suite" >
    <test name = "Failed Tests">
        <classes>
            <class name = "Tests">
                <methods>
                    <include name="testFailure1"/>
                    <include name="testFailure2"/>
                    <include name="testFailure3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>